NEXT_PUBLIC_SUPABASE_URL=https://hurxhmxptbzivwbzhcja.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_pzh0Oegbd5LM42gh_JCabQ_dAzuxeIv
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh1cnhobXhwdGJ6aXZ3YnpoY2phIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzA3MDk5OCwiZXhwIjoyMDkyNjQ2OTk4fQ.7Poga77ySLYFwsTh6Co6RZ4-KFZwbtTqjSzOMRQyFMI